window#osd {
  border-radius: 999px;
  border: 2px solid #ff6c11;
  background: alpha(#241b2f, 0.92);
}

window#osd #container {
  margin: 16px;
}

window#osd image,
window#osd label {
  color: #03edf9;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar,
window#osd segmentedprogress {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough,
window#osd segment {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(#03edf9, 0.25);
}

window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #03edf9;
}

window#osd segment {
  margin-left: 8px;
}

window#osd segment:first-child {
  margin-left: 0;
}
